@using TheBeautyForum.Web.ViewModels.Category;
@model CategoryViewModel
@{
    ViewData["Title"] = "Create procedure";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/post.css">

</head>
<body>
    <div class="wrapper">
        <div class="inner" style="display: flex; justify-content: center; width: 950px">
            <form id="formId" asp-route-returnUrl="" method="post" enctype="multipart/form-data">
                <h3>Create procedure</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-holder">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    <input asp-for="@Model.Name" class="form-control" placeholder="procedure name" autocomplete="on" aria-required="true" />
                </div>
                <div class="form-login" style="margin-bottom: 2.5em; justify-content: center">
                    <button id="registerSubmit" class="button" type="submit" asp-controller="Category" asp-action="Create" formmethod="post"><b>Save</b></button>
                    <a class="button" asp-area="Admin" asp-controller="User" asp-action="LoggedProfile"><b>Cancel</b></a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <style>
        form {
            width: 50%;
            padding-top: inherit;
            padding-right: 60px;
            padding-left: 15px;
        }

        #formId {
            width: 50%;
            padding-top: 40px;
            padding-right: 60px;
            padding-left: 15px;
        }   
    </style>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>