@page
@model LoginModel
@{
    ViewData["Title"] = "Sign In";
}

<link rel="stylesheet" href="~/css/style.css">
<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="~/images/registration-form-4.jpg" alt="">
        </div>
        <form id="account" method="post">
            <h3>Sign In</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-holder active">
                <input asp-for="Input.Email" class="form-control" placeholder="e-mail" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-holder">
                <input asp-for="Input.Password" class="form-control" placeholder="password" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-login">
                <button id="login-submit" type="submit">Sign in</button>
                <p style="font-size:12px">Don't have account? <a asp-page="./Register">Register</a></p>
            </div>
        </form>
    </div>
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/main.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}